@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

$MainBg: #0d0d2b;
$white: #ffffff;
$WhiteBgHeader: #0d0d2b;
$btnColor: #3671e9;
$hashHeader: #3671e9;
$hahRateBg: #fbfcfe;
$grey: #828282;
$CryptoCoinHover: #2b076e;
$FeaturesBg: #2b076e;

$PaymentSystemBg: #e0e0e0;
$containerDesktop: 0 10%;
$borderRadius: 2rem;
$btnBoxShadow: 0px 4px 4px rgba(0, 0, 0, 25%);

$breakpoints: (
  "mobile": 641px,
  "tablet": 1024px,
);

@mixin tablet {
  @media (max-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: map-get($breakpoints, "mobile")) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 4rem;
  font-style: bold;

  @include tablet {
    font-size: 3rem;
  }

  @include mobile {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-style: bold;
  line-height: 150%;
  color: $white;

  @include tablet {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 2rem;
  font-style: bold;
  line-height: 150%;
  letter-spacing: 4%;

  @include tablet {
    font-size: 1.3rem;
  }
}

ul {
  list-style-type: none;
}

p {
  font-size: 1rem;
  font-style: regular;
  letter-spacing: 1%;
  line-height: 28px;
  color: $PaymentSystemBg;

  @include mobile {
    font-size: 0.9rem;
  }
}

.btn {
  background-color: $btnColor;
  color: $white;
  padding: 14px 32px;
  text-align: center;
  border-radius: $borderRadius;
  font-size: 1rem;
  box-shadow: $btnBoxShadow;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

.nav-btn {
  background: transparent;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  text-align: right;
  font-size: 3rem;
  width: 2rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 2rem;

  @include tablet {
    visibility: visible;
    opacity: 1;
  }
}

.nav-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.responsive_nav {
  transform: none;
  z-index: 20;
}

.home {
  position: relative;
  background-color: $MainBg;
  color: $white;
  padding: 3% 7%;
  height: 850px;
  overflow: hidden;

  @include tablet {
    height: 100%;
  }

  @include mobile {
    padding: 4%;
  }

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .nav-items {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1rem;

      @include tablet {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        transition: 1s;
        transform: translateY(-100vh);
        background-color: $MainBg;
        z-index: 10;
      }

      .nav-link {
        margin: 0 1rem;
        cursor: pointer;

        &:hover {
          color: $grey;
        }

        @include tablet {
          font-size: 1.3rem;
        }
      }

      .nav-items-2 {
        display: flex;
        align-items: center;
        margin-left: 1rem;
      }
    }
  }

  .main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;

    @include tablet {
      grid-template-columns: 1fr;
    }

    @include mobile {
      margin-top: 3rem;
    }

    .main-left {
      align-items: center;

      .black-friday {
        width: 365px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 10%);
        border-radius: $borderRadius;

        .save {
          background-color: $white;
          color: $MainBg;
          padding: 4px 16px;
          margin: 10px;
          border-radius: $borderRadius;
          text-transform: uppercase;
          letter-spacing: 4%;
          line-height: 150%;
          font-size: 1rem;
          font-style: medium;
        }

        span {
          text-align: left;
          line-height: 28;
          letter-spacing: 1%;
          font-style: regular;
          color: $white;
          margin-right: 10px;
        }
      }

      .main-header {
        margin: 1rem 0;
        width: 100%;
      }

      .main-description {
        width: 435px;

        @include tablet {
          width: 100%;
        }
      }

      .main-button {
        padding: 16px 16px 16px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 150%;
        font-size: 1.1rem;
        margin-top: 1rem;
        gap: 1.5rem;

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .main-right {
      img {
        max-width: 100%;
      }
    }
  }

  .background-image-1 {
    position: absolute;
    left: 10rem;
    top: 25rem;

    @include tablet {
      display: none;
    }
  }

  .background-image-2 {
    position: absolute;
    right: -22rem;
    top: 20rem;

    @include tablet {
      display: none;
    }
  }
}

.why-crappo {
  height: 865px;
  background-color: $MainBg;
  padding: 3% 7% 0;

  @include tablet {
    height: 100%;
  }

  @include mobile {
    padding: 2% 4%;
  }

  .crappo-numbers {
    margin-top: 3%;
    display: grid;
    gap: 99px;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .numbers {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 121px;
  margin-top: 15%;

  img {
    max-width: 100%;

    @include tablet {
      order: 2;
      text-align: center;
    }
  }

  @include tablet {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.content-description {
  @include tablet {
    order: 1;
  }

  p {
    width: 408px;
    margin: 1rem 0;

    @include tablet {
      width: 100%;
    }
  }
  .btn {
    padding: 16px 24px;
    margin-top: 1rem;
  }
}

.earn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-color: $MainBg;
  height: 400px;
  padding-top: 2rem;
  padding: 3% 7%;

  @include tablet {
    padding: 5rem 4% 10rem;
    height: 100%;
    margin-bottom: 5rem;
  }

  p {
    width: 622px;
    margin-top: 1rem;
    font-size: 1.15rem;

    @include tablet {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

.calculate {
  height: 371px;
  box-shadow: 0px 20px 200px rgba(57, 23, 119, 5%);
  background-color: $white;
  margin: -14% 15% 0;
  padding: 2rem;
  border-radius: 1rem;

  @include tablet {
    max-width: 100%;
    height: 100%;
    margin: -20% 5% 0;
  }

  @include mobile {
    margin: -40% 5% 0;
  }

  .rate {
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 155px;

      @include tablet {
        flex-direction: column;
        justify-content: flex-start;
        gap: 4rem;
        height: 100%;
        margin-bottom: 2rem;
      }

      input {
        width: 403px;
        border: none;
        border-bottom: 1px solid $grey;
        outline: none;
        padding-bottom: 0.5rem;
        color: $MainBg;
        font-style: regular;

        &::placeholder {
          color: $MainBg;
        }

        @include tablet {
          width: 100%;
        }
      }

      select {
        cursor: pointer;
        width: 200px;
        border: none;
        border-bottom: 1px solid $grey;

        @include tablet {
          width: 100%;
        }
      }

      div {
        width: 100%;
        @include tablet {
          button {
            text-align: left;
          }
        }
      }
    }
  }

  .revenue {
    margin-top: 1rem;

    .heading {
      text-transform: uppercase;
      color: $hashHeader;
      font-style: medium;
      letter-spacing: 4%;
      line-height: 150%;
      font-size: 1rem;
    }

    h3 {
      margin-top: 1rem;

      span {
        font-size: 2rem;
        font-style: bold;
        color: $hashHeader;
        line-height: 150%;
        letter-spacing: 4%;
      }
    }

    p {
      color: $grey;
    }
  }
}

.trade {
  margin: 5% 7%;

  @include mobile {
    margin: 5% 4%;
  }

  .trade-header {
    display: grid;
    place-items: center;
    text-align: center;

    h2 {
      color: $MainBg;
    }
  }

  .coins {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
      place-items: center;
    }

    .coin {
      height: 433px;
      width: 370px;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      box-shadow: $btnBoxShadow;
      border-radius: 16px;
      cursor: pointer;

      @include tablet {
        width: 500px;
      }

      @include mobile {
        width: 80%;
      }

      &.active {
        background-color: $CryptoCoinHover;
        color: $white;
      }

      .coin-heading {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &.active {
          h3,
          p {
            color: $white;
          }
        }

        h3 {
          color: $MainBg;
        }

        p {
          text-transform: uppercase;
          font-size: 1.1rem;
          line-height: 150%;
          color: $grey;
        }
      }

      .description {
        width: 322px;
        margin-top: 1.5rem;

        &.active {
          p {
            color: $white;
          }
        }

        p {
          color: $grey;
        }
      }

      button {
        margin-top: 2rem;
        padding: 16px 16px 16px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        font-size: 1.1rem;
      }

      .arrow-right {
        margin-top: 2rem;
      }
    }
  }
}

.features {
  height: 1974px;
  background-color: $FeaturesBg;
  color: $white;
  padding: 5% 7%;
  position: relative;

  @include tablet {
    padding: 5% 4%;
    height: 100%;
  }

  .features-header {
    display: grid;
    place-items: center;
    text-align: center;

    @include tablet {
      margin-top: 3rem;
    }

    h2 {
      width: 100%;
    }
  }

  .features-content {
    margin-top: 5rem;
    position: relative;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      @include tablet {
        flex-direction: column;
        gap: 2rem;
      }

      .content-left {
        width: 454px;
        max-width: 100%;

        @include tablet {
          width: 100%;
        }

        p {
          margin: 2rem 0;
        }

        button {
          padding: 16px 32px;
          font-size: 1.1rem;
        }
      }
    }

    .content:nth-of-type(2) {
      flex-direction: row-reverse;

      @include tablet {
        flex-direction: column;
      }

      .content-right {
        margin-left: -10%;

        @include tablet {
          margin-left: 0;
        }

        img {
          max-width: 100%;
        }
      }

      .content-left {
        p {
          width: 408px;

          @include tablet {
            width: 100%;
          }
        }
      }
    }
  }

  .feature-bg-1 {
    position: absolute;
    top: -2rem;
    max-width: 100%;
  }
}

.mining {
  height: 392px;
  background-image: linear-gradient(
    to bottom,
    rgba(43, 7, 110, 100%),
    rgba(13, 13, 43, 100%)
  );
  padding: 5% 7%;
  position: relative;

  @include tablet {
    height: 100%;
    padding: 5% 4%;
  }

  .start-mining {
    width: 100%;
    height: 216px;
    color: $white;
    background-color: $btnColor;
    border-radius: 1rem;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include tablet {
      flex-direction: column;
      padding: 1rem;
      height: 100%;
      gap: 2rem;
    }

    .mining-left {
      width: 500px;

      @include tablet {
        width: 100%;
      }

      h3 {
        color: $white;
      }

      p {
        width: 350px;
        margin-top: 1rem;

        @include tablet {
          width: 100%;
        }
      }
    }

    .mining-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 560px;

      @include tablet {
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        gap: 2rem;
      }

      input {
        width: 370px;
        border: none;
        outline: none;
        background: none;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $white;

        &::placeholder {
          color: $white;
          letter-spacing: 1%;
        }

        @include tablet {
          width: 100%;
        }
      }

      button {
        background-color: $white;
        color: $MainBg;
        font-size: 1.1rem;
        font-style: medium;
        border-radius: 2rem;
      }
    }

    .mining-bg-1 {
      position: absolute;
      left: 1.5rem;
    }

    .mining-bg-2 {
      position: absolute;
      right: 1%;
      bottom: -5%;
    }
  }

  img {
    max-width: 100%;
  }
}

footer {
  height: 552px;
  background-color: $MainBg;
  color: $white;
  padding: 5% 7% 3%;
  width: 100%;

  @include tablet {
    padding: 10% 4% 3%;
    height: 100%;
  }

  .footer-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;

    @include tablet {
      grid-template-columns: 1fr;
      place-items: center;
      text-align: center;
    }

    .footer-header {
      font-size: 1.25rem;
      font-style: medium;
      margin-bottom: 2rem;

      @include tablet {
        margin-top: 3rem;
      }
    }

    li {
      margin: 1rem 0;
      cursor: pointer;

      &:hover {
        color: $grey;
      }
    }

    .footer4 {
      width: 355px;

      @include tablet {
        width: 100%;
        margin-top: 4rem;
      }

      .payment-systems {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        text-align: center;

        @include tablet {
          gap: 2rem;
          justify-content: center;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      margin-top: 5rem;
      flex-direction: column-reverse;
      gap: 2rem;
    }

    .social-links {
      > img {
        cursor: pointer;
        margin: 0 1rem;
      }
    }
  }
}
